<!DOCTYPE html>
<html>
<head>
    <title>AI Compiler Optimization Assistant</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <div class="header">
        <h1>🚀 AI Compiler Optimization Assistant</h1>
        <p>AI-Assisted Register Allocation & Instruction Selection</p>
    </div>

    <form action="/optimize" method="POST">

        <label>Enter Source Code</label>

        <textarea name="code"
        placeholder="Example:
a = b + c
d = a * e">{{ code if code else '' }}</textarea>

        <button type="submit">
            Optimize Code
        </button>

    </form>

    {% if code %}

    <div class="result-grid">

        <div class="card">
            <h2>📄 Source Code</h2>
            <pre>{{ code }}</pre>
        </div>

        <div class="card">
            <h2>🧠 Register Allocation</h2>
            <pre>{{ register }}</pre>
        </div>

        <div class="card full-width">
            <h2>⚙️ Generated Assembly Code</h2>
            <pre>{{ instruction }}</pre>
        </div>

    </div>

    {% endif %}

</div>

</body>
</html>
